<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

  {{#if post.length}}
  <div class="col-md-6 post-list">
    <h3>Current Posts:</h3>
    <ul class="row mb-2">
    {{#each posts as |post|}}
      <li>
        {{> post-details post}}
        <button class="delete-btn" data-id="{{post.id}}">Delete Post</button> 
        <button class="edit-btn" data-id="{{post.id}}">Edit Post</button> <!-- in JS, link to edit page -->
      </li>
    {{/each}}
    </ul>
  </div>
  {{/if}}


<script src="./js/dashboard.js"></script>
<script src="./js/post.js"></script>
