<div class="text-center">
    {{> post-details post}}

    {{#if comments}}
        <div class="text-center">
        {{#each comments as |comment|}}
        {{> comment-details comment}}
        {{/each}}
    </div>
    {{/if}}

    <form class="comment-form" id="comment-form">
        <div class="form-group">
            <input class="comment-input" type="text" id="comment-input" placeholder="Leave a comment"/>
            <button class="comment-btn" id="comment-btn">Post Comment!</button>
        </div>
    </form>

</div>
